a
    top: 23%
    left: 23%
    position: relative
    font-size: 1.125em
    color: $white
    text-decoration: none
    font-family: 'Source Sans Pro'

.admin-nav
    width: 250px
    height: 100vh
    background: $darkgray
    position: absolute
    padding: 0
    margin: 0
    display: flex
    flex-direction: column
    align-items: center

    h2
        font-size: 1.5em
        font-weight: 600
        font-family: 'Raleway'
        color: $blue

    ul
        width: 250px
        display: flex
        flex-direction: column
        list-style-type: none
        padding: 0
        margin: 0

        li
            height: 50px

        li:hover
            border-left: 4px solid $blue
            background-color: $activegray

            a
                top: 23%
                left: 23%
                position: relative
                font-size: 1.125em
                color: $white
                text-decoration: none
                font-family: 'Source Sans Pro'
