// Colors
@import _colors.sass

// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600|Source+Sans+Pro&subset=latin-ext');

body
    display: flex
    flex-direction: row
    width: 100%
    height: 100vh
    padding: 0
    margin: 0  

// Menu
@import _menu.sass

.base
    width: 100%
    margin: 2% 2% 2% 13%

