@import url(https://fonts.googleapis.com/css?family=Raleway:400,600|Source+Sans+Pro&subset=latin-ext);@charset "UTF-8";

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vh;
  padding: 0;
  margin: 0;
}

Táto stránka sa zatiaľ pripravuje {
  width: 13%;
  height: 100vh;
  background: #191919;
  position: absolute;
  padding: 0;
  margin: 0;
}

Táto stránka sa zatiaľ pripravuje h2 {
  margin-left: 21.6%;
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Raleway';
  color: #475ffc;
}

Táto stránka sa zatiaľ pripravuje ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

Táto stránka sa zatiaľ pripravuje ul li {
  width: 100%;
  height: 4.6%;
}

Táto stránka sa zatiaľ pripravuje ul li a {
  display: block;
  position: relative;
  font-size: 1.125em;
  top: 26%;
  border-left: 2.4% solid #191919;
  color: #fff;
  text-decoration: none;
  font-family: 'Source Sans Pro';
}

Táto stránka sa zatiaľ pripravuje ul li a:hover {
  border-left: 2.4% solid #475ffc;
}

